@charset "UTF-8";

.su-basic-page-types-list {

  .su-basic-page-list__title {
    a {
      @include link--action;
      @include sdss-link--primary;

      font-weight: $su-font-regular;
      text-decoration: none;

      &:after {
        background-color: $sdss-color-palo-alto-dark;
      }
    }
  }

}
