@charset "UTF-8";

// News List Card paragraph type
.paragraph--type--sdss-news-list-card {
  padding: 3.2rem 3.2rem 3.4rem 3.2rem;
  border: 1px solid $su-color-black-20;
  container-type: inline-size;

  @include grid-media-min('md') {
    padding: 4.5rem 4.5rem 5.8rem 4.5rem;
  }

  h2 {
    @include sdss-h5;
    font-weight: 600;
  }

  ul {
    @include responsive-spacing('margin-top', 2);
    @include responsive-spacing('margin-bottom', 2);

    list-style: none;
    padding-left: unset;
  }

  li {
    &:not(:last-child) {
      @include responsive-spacing('margin-bottom', 2);
    }
  }

  .su-sdss-news-news-source {
    font-size: 1.5rem;
    color: $su-color-black-70;

    @include grid-media-min('md') {
      font-size: 1.8rem;
    }
  }

  .node-title {
    a {
      color: $sdss-color-decorative-blue;
      text-decoration: none;
      font-size: 1.7rem;

      @include grid-media-min('md') {
        font-size: 1.8rem;
      }

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }

  .su-news-card-button {
    text-align: center;

    @container (min-width: 1200px) {
      text-align: unset;
    }

    a {
      @include sdss-button-graphic-blue--light;
    }
  }
}

// Green background layout
.layout-paragraphs-sdss-bgcolor--green {
  .paragraph--type--sdss-news-list-card {
    .su-sdss-news-news-source {
      color: $su-color-white;
    }

    .node-title {
      a {
        color: $su-color-white;
        font-weight: 600;

        &:hover,
        &:active,
        &:focus {
          color: $sdss-color-green-bright;
        }
      }
    }

    .su-news-card-button {
      a {
        @include sdss-button-graphic-blue--dark;
      }
    }
  }
}

// Center one-col layout
.layout-paragraphs-sdss-one-column {
  .paragraph--type--sdss-news-list-card {
    @include centered-column;
  }
}