@charset "UTF-8";

nav[aria-label^='footer'] {
  a {
    color: $sdss-color-white;

    &:hover {
      color: $sdss-color-white;
    }

    &.su-link--external {
      &:hover,
      &:active,
      &:focus {
        color: $sdss-color-white;

        &:after {
          background-color: $sdss-color-white;
        }
      }
    }
  }
}

.su-local-footer {
  background-color: $sdss-color-palo-alto-dark;
  color: $sdss-color-white;

  a {
    font-weight: $su-font-regular;
  }

  // link sizing.
  .su-local-footer__cell2 {
    font-size: 1.11em;
    font-weight: 600;
  }

  .su-local-footer__action-links {
    font-size: 1.11em;
  }

  // Setting the 4th grid col to 0px
  .su-local-footer__columns {
    grid-template-columns: 1.5fr 1fr 1fr 0px;

    .su-local-footer__cell3 {
      display: none;
    }
  }

  @include grid-media-min('lg') {
    .su-local-footer__header {
      @include responsive-spacing('padding-top', 5);
    }

    .su-local-footer__columns {
      @include responsive-spacing('padding-top', 4);
      @include responsive-spacing('padding-bottom', 4);
     }

    .su-local-footer__action-links {
      @include responsive-spacing('padding-bottom', 2);
    }
  }

  // Lockup
  span.su-lockup__wordmark {
    color: $sdss-color-white;
  }

  .su-lockup__cell2 {
    border-left: 2px solid $sdss-color-white;
  }

  // Contact us
  .sdss-footer--stay-connected {
    @include responsive-spacing('margin-bottom', 0);

    p {
      padding-bottom: 5px;
    }
  }

  // Address
  .su-local-footer__address {
    @include type_e;

    padding-bottom: 5px;

    .organization {
      @include sdss-h5;

      font-weight: $su-font-regular;
    }

    .address {
      font-weight: $su-font-regular;
    }
  }

  // Links but excluding the lockup
  .su-local-footer__columns {
    a {
      @include sdss-link--negative-footer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .su-local-footer__social-links {
    i {
      &::before {
        color: $sdss-color-blue-bright;
      }
    }
  }

  .su-local-footer__action-links {
    a {
      @include sdss-link--negative-footer;
    }
  }

  .su-local-footer__list-heading {
    @include sdss-h5;

    color: $sdss-color-white;
    font-weight: $su-font-bold;
  }

  //Local footer contact button address
  a.su-link--external.su-button--secondary {
    @include sdss-button--secondary-neg;
  }


  .su-wysiwyg-text {
    h2,
    h3,
    h4,
    h5 {
      color: $sdss-color-white;

      a {
        &.su-link--external {
          &:hover,
          &:active,
          &:focus {
            color: $sdss-color-white;

            &::after {
              background-color: $sdss-color-white;
            }
          }
          &::after {
            background-color: $sdss-color-blue-bright;
          }
        }
      }
    }
  }
}
