@charset "UTF-8";

nav[aria-label^='footer'] {
  a {
    color: $sdss-color-white;

    &:hover {
      color: $sdss-color-white;
    }

    &.su-link--external {
      &:hover,
      &:active,
      &:focus {
        color: $sdss-color-white;

        &:after {
          background-color: $sdss-color-white;
        }
      }
    }
  }
}

.su-local-footer {
  background-color: $sdss-color-palo-alto-dark;
  color: $sdss-color-white;

  .su-lockup__custom-logo {
    max-width: 11em;
  }

  .su-lockup__custom-logo-link {
    &:focus {
      img {
        outline: 1px solid $sdss-color-blue-bright;
      }
    }
  }

  a {
    font-weight: $su-font-regular;
  }

  // link sizing.
  .su-local-footer__cell2 {
    font-size: 1.11em;
    font-weight: 600;
  }

  .su-local-footer__action-links {
    font-size: 1.11em;
  }

  // Setting the 4th grid col to 0px
  .su-local-footer__columns {
    grid-template-columns: 1.5fr 1fr 1fr 0px;

    .su-local-footer__cell3 {
      display: none;
    }
  }

  @include grid-media-min('lg') {
    .su-local-footer__header {
      @include responsive-spacing('padding-top', 4);
    }

    .su-local-footer__columns {
      @include responsive-spacing('padding-top', 4);
      @include responsive-spacing('padding-bottom', 4);
     }

    .su-local-footer__action-links {
      @include responsive-spacing('padding-bottom', 2);
    }
  }

  // Lockup
  span.su-lockup__wordmark {
    color: $sdss-color-white;
  }

  .su-lockup__cell2 {
    border-left: 2px solid $sdss-color-white;
  }

  // Contact us
  .sdss-footer--stay-connected {
    @include responsive-spacing('margin-bottom', 0);

    p {
      padding-bottom: 5px;
    }
  }

  // Address
  .su-local-footer__address {
    @include type_e;

    padding-bottom: 5px;

    .organization {
      @include sdss-h5;

      font-weight: $su-font-regular;
    }

    .address {
      font-weight: $su-font-regular;
    }
  }

  // Links but excluding the lockup
  .su-local-footer__columns {
    a {
      @include sdss-link--negative-footer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .su-local-footer__social-links {
    i {
      &::before {
        color: $sdss-color-blue-bright;
      }
    }

    a {
      &:hover,
      &:active,
      &:focus {
        i {
          &::before {
            color: $sdss-color-new-leaf-light;
          }
        }
      }
    }

    .su-local-footer__social-threads {
      i {
        &::before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 448 500'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='#92d7dd' d='M331.5 235.7c2.2 .9 4.2 1.9 6.3 2.8c29.2 14.1 50.6 35.2 61.8 61.4c15.7 36.5 17.2 95.8-30.3 143.2c-36.2 36.2-80.3 52.5-142.6 53h-.3c-70.2-.5-124.1-24.1-160.4-70.2c-32.3-41-48.9-98.1-49.5-169.6V256v-.2C17 184.3 33.6 127.2 65.9 86.2C102.2 40.1 156.2 16.5 226.4 16h.3c70.3 .5 124.9 24 162.3 69.9c18.4 22.7 32 50 40.6 81.7l-40.4 10.8c-7.1-25.8-17.8-47.8-32.2-65.4c-29.2-35.8-73-54.2-130.5-54.6c-57 .5-100.1 18.8-128.2 54.4C72.1 146.1 58.5 194.3 58 256c.5 61.7 14.1 109.9 40.3 143.3c28 35.6 71.2 53.9 128.2 54.4c51.4-.4 85.4-12.6 113.7-40.9c32.3-32.2 31.7-71.8 21.4-95.9c-6.1-14.2-17.1-26-31.9-34.9c-3.7 26.9-11.8 48.3-24.7 64.8c-17.1 21.8-41.4 33.6-72.7 35.3c-23.6 1.3-46.3-4.4-63.9-16c-20.8-13.8-33-34.8-34.3-59.3c-2.5-48.3 35.7-83 95.2-86.4c21.1-1.2 40.9-.3 59.2 2.8c-2.4-14.8-7.3-26.6-14.6-35.2c-10-11.7-25.6-17.7-46.2-17.8H227c-16.6 0-39 4.6-53.3 26.3l-34.4-23.6c19.2-29.1 50.3-45.1 87.8-45.1h.8c62.6 .4 99.9 39.5 103.7 107.7l-.2 .2zm-156 68.8c1.3 25.1 28.4 36.8 54.6 35.3c25.6-1.4 54.6-11.4 59.5-73.2c-13.2-2.9-27.8-4.4-43.4-4.4c-4.8 0-9.6 .1-14.4 .4c-42.9 2.4-57.2 23.2-56.2 41.8l-.1 .1z'/%3E%3C/svg%3E");
        }
      }

      &:hover,
      &:active,
      &:focus {
        i {
          &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 448 500'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='#E8FADC' d='M331.5 235.7c2.2 .9 4.2 1.9 6.3 2.8c29.2 14.1 50.6 35.2 61.8 61.4c15.7 36.5 17.2 95.8-30.3 143.2c-36.2 36.2-80.3 52.5-142.6 53h-.3c-70.2-.5-124.1-24.1-160.4-70.2c-32.3-41-48.9-98.1-49.5-169.6V256v-.2C17 184.3 33.6 127.2 65.9 86.2C102.2 40.1 156.2 16.5 226.4 16h.3c70.3 .5 124.9 24 162.3 69.9c18.4 22.7 32 50 40.6 81.7l-40.4 10.8c-7.1-25.8-17.8-47.8-32.2-65.4c-29.2-35.8-73-54.2-130.5-54.6c-57 .5-100.1 18.8-128.2 54.4C72.1 146.1 58.5 194.3 58 256c.5 61.7 14.1 109.9 40.3 143.3c28 35.6 71.2 53.9 128.2 54.4c51.4-.4 85.4-12.6 113.7-40.9c32.3-32.2 31.7-71.8 21.4-95.9c-6.1-14.2-17.1-26-31.9-34.9c-3.7 26.9-11.8 48.3-24.7 64.8c-17.1 21.8-41.4 33.6-72.7 35.3c-23.6 1.3-46.3-4.4-63.9-16c-20.8-13.8-33-34.8-34.3-59.3c-2.5-48.3 35.7-83 95.2-86.4c21.1-1.2 40.9-.3 59.2 2.8c-2.4-14.8-7.3-26.6-14.6-35.2c-10-11.7-25.6-17.7-46.2-17.8H227c-16.6 0-39 4.6-53.3 26.3l-34.4-23.6c19.2-29.1 50.3-45.1 87.8-45.1h.8c62.6 .4 99.9 39.5 103.7 107.7l-.2 .2zm-156 68.8c1.3 25.1 28.4 36.8 54.6 35.3c25.6-1.4 54.6-11.4 59.5-73.2c-13.2-2.9-27.8-4.4-43.4-4.4c-4.8 0-9.6 .1-14.4 .4c-42.9 2.4-57.2 23.2-56.2 41.8l-.1 .1z'/%3E%3C/svg%3E");
          }
        }
      }
    }
  }

  .su-local-footer__action-links {
    a {
      @include sdss-link--negative-footer;
    }
  }

  .su-local-footer__list-heading {
    @include sdss-h5;

    color: $sdss-color-white;
    font-weight: $su-font-bold;
  }

  //Local footer contact button address
  a.su-link--external.su-button--secondary {
    @include sdss-button--secondary-neg;
  }


  .su-wysiwyg-text {
    h2,
    h3,
    h4,
    h5 {
      color: $sdss-color-white;

      a {
        &.su-link--external {
          &:hover,
          &:active,
          &:focus {
            color: $sdss-color-white;

            &::after {
              background-color: $sdss-color-white;
            }
          }
          &::after {
            background-color: $sdss-color-blue-bright;
          }
        }
      }
    }
  }
}
