@charset "UTF-8";

// People all page.
.stanford-people-grid,
.people-terms {
  .views-field-title {
    a {
      @include sdss-h4;
      @include sdss-link--primary;

      h2,
      h3 {
        display: inline;  // Necessary to get the outline to work correctly on focus.
        font-weight: $su-font-regular;
        line-height: 120%;
      }

      // For the focus outline.
      &:focus {
        h2,
        h3 {
          @include sdss-link-primary--focus;
        }
      }
    }
  }

  .views-field-su-person-short-title {
    color: $sdss-color-grey-dark;
  }
}

// People teasers.
.stanford-people-grid {
  .views-field-title {
    a {
      @include sdss-link--primary;

      font-size: 1.5625em;
    }
  }

  .views-field-su-person-full-title {
    font-size: 2rem;
  }
}


.ds-entity--stanford-person {
  .su-card {
    a {
      font-size: .52em;

      color: $sdss-color-palo-alto-dark;
      display: inline-block;
      font-weight: $su-font-regular;


      &:focus {
        color: $sdss-color-grey-dark;
        outline: 1px solid $sdss-color-palo-alto-dark;
        background-color: transparent;
      }

      &:active {
        color: $sdss-color-grey-dark;
      }
    }

    .su-person-short-title {
      color: $sdss-color-grey-dark;
      font-size: 2rem;
    }
  }

  @include grid-media('md') {
    h2 {
      line-height: inherit;
    }
  }
}
