@charset "UTF-8";

// Search icon.
.su-site-search__submit {
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  background: url("#{$su-image-path}/magnifying-glass-24px.svg") no-repeat 0 0;
  opacity: .6;
  position: absolute;
  top: 1.1rem;
  right: 1.2rem;
  width: 24px;
  height: 25px;

  &:hover {
    background: $sdss-color-green-bright url("#{$su-image-path}/magnifying-glass-24px.svg") no-repeat 0 0;
  }
}

// Makes the menu 'sticky' for LG sreens and up
@include grid-media-min('lg') {
  .fixed-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  // if logged in
  .role--authenticated {
    .fixed-header {
      top: 79px;
    }
  }
}

// Drop down menu
@include grid-media-min('lg') {
  .su-multi-menu {
    .su-multi-menu__menu-lv2 {
      padding-top: 1px;
      padding-left: 1.2rem;
      margin-left: 0;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
      z-index: 101;
      max-width: 30rem;
    }
  }
}

.su-multi-menu {

  // Font setup.
  .su-multi-menu__menu {
    .su-multi-menu__link {
      border-bottom: none;
      color: $sdss-color-grey-dark;
      font-weight: $su-font-regular;
      font-size: 1.9rem;

      &:hover {
        > span {
          text-decoration: underline;
          color: $sdss-color-grey-dark;
        }
      }

      &:active {
        &:before {
          background-color: $sdss-color-black;
        }
      }

      &:hover,
      &:focus {
        > span {
          text-decoration: underline;
          color: $sdss-color-grey-dark;
        }

        &::before {
          background-color: $sdss-color-black;
          width: 3px;
        }
      }

      &:focus {
        color: $sdss-color-grey-dark;
        outline: 1px solid $sdss-color-palo-alto-dark;
        background-color: transparent;
      }
    }
  }

  // Color bar on the drop down menu
  .su-multi-menu__item--current {
    >.su-multi-menu__link {
      color: $sdss-color-palo-alto-dark;

      &:before {
        background-color: $sdss-color-black;
        width: 3px;

        @include grid-media-max('md') {
          background-color: $sdss-color-palo-alto-dark;
        }
      }
    }
  }

  .su-multi-menu__menu-lv1 {
    >.su-multi-menu__item {
      >.su-multi-menu__link {
        color: $sdss-color-grey-dark;
        font-weight: $su-font-regular;

        &:hover,
        &:active,
        &:focus {
          font-weight: $su-font-regular;
        }

      }

      // Underline on current page.
      &.su-multi-menu__item--active-trail {
        > .su-multi-menu__link {
          color: $sdss-color-green-link;

          &:before {
            background-color: $sdss-color-green-link;
          }
        }
      }
    }
  }
}

.su-multi-menu {
  &.su-multi-menu--dropdowns {
    .su-multi-menu__menu-lv1 {

      @include grid-media-min('lg') {
        >.su-multi-menu__item--parent:last-of-type {
          margin: 0;
        }
      }


      >.su-multi-menu__item--parent {
        margin: 0 40px 0 0;

        >.su-multi-menu__item--parent:last-of-type {
          margin: 0;
        }

        >.su-multi-menu__link {

          // Remove the pipe, "|", on the dropdrop down menus.
          &::after {
            border-right: none;
            margin-left: 6px;
          }
        }

        // What the up and down caret look like.
        > .su-nav-toggle {

          &[aria-expanded=true]{
            &:focus {
                &::before {
                  background: $sdss-color-green-link url("#{$su-image-path}/caret-down-white.svg") no-repeat center / 50%;
                }
              }
            }

          // Mobile toggle - circle background color.
          @include grid-media-max('md') {
            &::before {
              background: $sdss-color-green-link url("#{$su-image-path}/caret-down-white.svg") no-repeat center / 50%;
            }

            &:focus,
            &:hover {
              &::before {
                background: $sdss-color-green-link url("#{$su-image-path}/caret-down-white.svg") no-repeat center / 50%;
              }
            }
          }

        }
      }
    }
  }
}


// Mobile Style.
.su-multi-menu {
  .su-multi-menu__menu {
    background-color: $sdss-color-white;
  }

  // The green bar under the mobile hamburger menu.
  .su-multi-menu__nav-toggle {
    &:focus,
    &:hover {
      &:before {
        background-color: $sdss-color-green-link;
      }
    }

    &[aria-expanded=true] {
      &:before {
        background-color: $sdss-color-green-link;
      }
      &:focus,
      &:hover {
        &:before {
          background-color: $sdss-color-green-link;
        }
      }
    }
  }
}
// End Mobile Style.

@include grid-media-min('lg') {
  .su-multi-menu__menu {
    &.su-multi-menu__menu-lv1 {

      .su-nav-toggle:before {
        content: "";
        background: $sdss-color-green-link url("#{$su-image-path}/caret-down-white.svg") no-repeat 50%/50%;
        height: 30px;
        width: 30px;
        display: block;
        position: absolute;
        top: 5px;
        right: 2px;
      }
    }
  }
}

// On desktop breakpoints hide menu links past the first level of menu depth.
@include grid-media-min('lg') {
  .su-multi-menu.su-multi-menu--dropdowns {
    .su-multi-menu__menu.su-multi-menu__menu-lv2 {

      ul.su-multi-menu__menu,
      button.su-nav-toggle {
        display: none;
      }

      .su-multi-menu__link {
        .su-multi-menu__link-text-wrapper {
          max-width: initial;
        }
      }

    }
  }
}

// Changing the toggle in menus below the -lv1.
@include grid-media-min('lg') {
  .su-multi-menu__menu-lv1 {
    .su-multi-menu__menu {
      .su-nav-toggle {

        &::before {
          content: "";
          background: $sdss-color-white url("#{$su-image-path}/caret-down-black.svg") no-repeat center / 50%;
          background-size: 15px;
          border-radius: 19px;
          top: 5px;
          right: 10px;
        }

        &[aria-expanded=true] {
          top: 15px;
          right: 17px;
        }
      }
    }
  }


  .su-multi-menu.su-multi-menu--dropdowns {
    .su-multi-menu__menu {

      .su-multi-menu__menu-lv2 {
        > .su-multi-menu__item {
          > a.su-multi-menu__link {
            padding-right: 1rem;
          }
        }

        > .su-multi-menu__item--parent {

          .su-nav-toggle::before {
            right: 15px;
            top: 5px;
          }

          .su-nav-toggle[aria-expanded=true] {
            top: 10px;
            right: 25px;
          }

          .su-nav-toggle:focus[aria-expanded=true]::before {
            top: -2px;
            right: 10px;
          }

        }
      }
    }
  }

  .su-multi-menu__menu-lv2 .su-multi-menu__item  {

    .su-nav-toggle {

      &[aria-expanded=true] {
        top: 15px;
        right: 17px;
      }

      &::before {

        content: "";
        background: transparent url("#{$su-image-path}/caret-down-black.svg") no-repeat center / 50%;
        background-size: 15px;
        border-radius: 19px;
        top: 5px;
        right: 10px;
      }

      &[aria-expanded=true] {
        top: 15px;
        right: 17px;
      }
    }
  }
}

.su-multi-menu.su-multi-menu--dropdowns {
  .su-multi-menu__menu {
    >.su-multi-menu__item--parent {
      .su-nav-toggle {
        overflow: visible;
        width: 32px;
        height: 32px;
        top: 10px;

        &:active,
        &:focus,
        &:hover,
        &:hover[aria-expanded=false],
        &[aria-expanded=true]:active,
        &[aria-expanded=true]:focus {
          border-bottom: 0;
          border-top: 0;
        }

        // changing animation from toggle
        &[aria-expanded=true] {
          top: 15px;
          right: 2px;
        }

        &:hover {
          &::before {
            background: transparent url("#{$su-image-path}/caret-down-black.svg") no-repeat center / 50%;
            border-radius: 19px;
          }
        }

        &:hover[aria-expanded=false] {
          &::before {
            box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.14);
            border: 1px solid $sdss-color-grey-dark;
          }
        }

        &:active {
          &::before {
            background: transparent url("#{$su-image-path}/caret-down-black.svg") no-repeat center / 50%;
            border-radius: 19px;
          }
        }

        &:focus {
          &::before {
            background: $sdss-color-grey-dark url("#{$su-image-path}/caret-down-white.svg") no-repeat center / 50%;
            border-radius: 19px;
          }
        }

        &::before {
          background: transparent url("#{$su-image-path}/caret-down-black.svg") no-repeat center / 50%;
          border-radius: 19px;

          @include grid-media-max('md') {
            background: $sdss-color-green-link url("#{$su-image-path}/caret-down-white.svg") no-repeat center / 50%;
          }
        }

      }
    }
  }
}

// Spacing overrides
.su-multi-menu {
  .su-multi-menu__menu-lv2,
  .su-multi-menu__menu-lv3,
  .su-multi-menu__menu-lv4,
  .su-multi-menu__menu-lv5 {
    .su-multi-menu__item {
      >.su-multi-menu__link {
        @include responsive-spacing('padding-bottom', -1);
        @include responsive-spacing('padding-top', -1);

        margin: 0;

        &:hover {
          &:before {
            left: -12px;
          }
        }

        &:hover,
        &:active,
        &:focus {

          > span {
            color: $sdss-color-green-link;
          }
        }
      }
    }
  }
}