@charset "UTF-8";

.stanford-lists {
  &.su-list-headline {
    h2 {
      @include sdss-h3;

      text-align: left;
    }
  }
}

// Button spacing on lists
// adding the spacing.
.stanford-lists.su-list-button {
  @include responsive-spacing('margin-top', 3);
}

// Unsetting the extra spacing from Stanford Basic.
.ptype-stanford-lists:not([data-react-columns="12"]) .su-news-vertical-teaser.su-card {
  margin-bottom: unset;
}

.view.stanford-news,
.stanford-events-list-page,
.stanford-events-list-page--filtered {
  .views-infinite-scroll-content-wrapper {
    margin-bottom: unset;
  }
}

.ptype-stanford-lists {

  .su-list-unstyled > li:last-child {

    .su-news-list .su-news-article {
      padding-bottom: 0;
    }

    .su-event-list-item {
      margin-bottom: 0;
    }
  }

  .view.stanford-courses.default-list-viewfield-block .views-infinite-scroll-content-wrapper {
    margin-bottom: 0;
  }

  .su-course-list.su-list-unstyled {
    margin-bottom: 0;

    >li:last-of-type {
      > article {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    .su-courses-edit-article {
      // Edit button for authors
      @include responsive-spacing('margin-top', 2);
    }
  }

  .su-card.su-event-card.su-event-list-item {
    margin-bottom: 0;
  }
}

