@charset "UTF-8";

//
// _wysiwyg.scss
//

// This should include all the custom styles for the CKEditor.

// Reusing the intro text class for the Display
// .tablesaw-cell-content == content within a table
.su-wysiwyg-text {
  p,
  .tablesaw-cell-content {
    font-size: 2.1rem;

    // Intro = Display, intro is the legacy name.
    // Display-text is the updated name.
    &.su-intro-text,
    &.sdss-display-text {
      @include sdss-display;
    }

    // Splash = Splash text is the legacy name.
    // Block Quote is the updated name.
    &.su-font-splash,
    &.sdss-block-quote--big {
      @include sdss-block-quote--big;
    }

    // Quote Text is the legacy name.
    // Block Quote Medium is the updated name.
    &.su-quote-text,
    &.sdss-block-quote--med {
      @include serif;
      @include sdss-block-quote--med;
    }

    // Callout text  is the legacy name.
    // Block Quote Small is the updated name.
    &.su-callout-text,
    &.sdss-block-quote--sm {
      @include sdss-block-quote--sm;
    }
  }

  .caption {
    figcaption {
      color: $su-color-cool-grey;
      font-size: 1.8rem;
      font-style: normal;
      line-height: 1.4;
      text-align: right;
      margin-bottom: 1em;
    }
  }

  .localist-widget {
    h2 {
      a {
        color: $sdss-color-palo-alto-dark;


        &:hover,
        &:focus,
        &:active {
          @include sdss-link-primary--hover;

          &:after {
            background-color: transparent;
          }
        }
      }
    }
  }
}
