@charset "UTF-8";

// Reusing the intro text class for the Display
// .tablesaw-cell-content == content within a table
.su-wysiwyg-text {
  p,
  .tablesaw-cell-content {
    font-size: 2.1rem;

    // Intro = Display
    &.su-intro-text {
      @include sdss-display;
    }

    // Splash = Splash text
    &.su-font-splash {
      @include sdss-block-quote--big;
    }

    // Quote Text = Block Quote Medium
    &.su-quote-text {
      @include serif;
      @include sdss-block-quote--med;
    }

    // Callout text = Block Quote Small
    &.su-callout-text {
      @include sdss-block-quote--sm;
    }
  }

  .caption {
    figcaption {
      color: $su-color-cool-grey;
      font-size: 1.8rem;
      font-style: normal;
      line-height: 1.4;
      text-align: right;
      margin-bottom: 1em;
    }
  }

  .localist-widget {
    h2 {
      a {
        color: $sdss-color-palo-alto-dark;


        &:hover,
        &:focus,
        &:active {
          @include sdss-link-primary--hover;

          &:after {
            background-color: transparent;
          }
        }
      }
    }
  }
}
