@charset "UTF-8";

.sdss-card-wrapper--icon {

  .su-card {
    @include responsive-spacing('padding', 2 1);

    text-align: center;

    .su-card__contents {
      padding-bottom: 0;
      padding-top: 0;

      p {
        font-size: 2rem;
        line-height: 150%;
      }
    }

    .su-card__headline {
      @include responsive-spacing('padding-top', 1);
      @include sdss-h5;

      font-weight: $su-font-bold;
    }

    .su-card__button {
      margin-bottom: 0;
    }
  }


}