@charset "UTF-8";

.su-card {
  &.su-card--person {
    border: 0;
    box-shadow: none;

    .su-person-photo {
      padding-bottom: 0;
    }

    .su-card__headline {
      margin-bottom: 0;
    }

    .su-card__contents {
      padding: 0;
    }
  }
}