@charset "UTF-8";

// Topic cards

.sdss-card-wrapper--topic {

  .su-card {
    .su-card__contents {
      padding-left: 0;

      p {
        font-size: 2rem;
        line-height: 150%;
      }
    }

    .su-card__headline {
      @include sdss-h4;
    }
  }
}