@charset "UTF-8";

.su-button,
.su-button.su-link,
[type=button],
[type=image],
[type=reset],
[type=submit],
button {
  @include sdss-button--primary;
  @include responsive-spacing('padding', null 1 -2 1);

  padding-top: .375em;
}

div {
  a.su-button,
  a.su-button.su-link,
  a.su-link--external.su-button {
    @include sdss-button--primary;
    @include responsive-spacing('padding', null 1 -2 1);

    padding-top: .375em;
  }

  a.su-button--secondary,
  a.su-link--external.su-button--secondary {
    @include sdss-button--secondary;
    @include responsive-spacing('padding', null 1 -2 1);

    padding-top: .375em;
  }

  a.su-button--secondary-neg,
  a.su-link--external.su-button--secondary-neg {
    @include sdss-button--secondary-neg;
    @include responsive-spacing('padding', null 1 -2 1);

    padding-top: .375em;
  }

  a.su-button--big,
  a.su-button--big.su-link,
  a.su-link--external.su-button--big {
    @include sdss-button--big;
    @include responsive-spacing('padding', null 1 -2 1);

    padding-top: .375em;
  }
}

.sdss-wrapper--secondary-button {
  .su-card__button {
    .su-button {
      @include sdss-button--secondary;
      @include responsive-spacing('padding', null 1 -2 1);

      padding-top: .375em;
    }
  }
}

.sdss-wrapper--button-green {
  .su-card__button {
    .su-button {
      @include sdss-button--primary;
      @include responsive-spacing('padding', null 1 -2 1);

      padding-top: .375em;
    }
  }
}

// Load more buttons on list pages.
.js-pager__items {
  .pager__item {
    .button {
      @include sdss-button--primary;
      @include responsive-spacing('padding', null 1 -2 1);

      padding-top: .375em;
    }
  }
}

