{%- set background_color = content.su_sidebar_bgcolor_alt['#items'].getString() %}
{% set selectedFontSize = content.su_select_font_sizing['#items'].getString() %}

{%- set attributes = attributes.addClass(['sidebar', background_color, selectedFontSize]) -%}

<div {{ attributes }}>

{{ content }}
</div>