@charset "UTF-8";

.sdss-card-wrapper--title {
  .su-card {
    .su-card__contents {
      padding-left: 0;
      padding-top: 0;

      p {
        font-size: 2rem;
        line-height: 150%;
      }

      a {
        margin-top: 0;

        &.su-button {
          line-height: inherit;
        }
      }

    }

    .su-card__headline {
      @include sdss-h4;
      @include responsive-spacing('padding-top', 1);

      margin-bottom: 0;
    }
  }
}