.layout__region.layout__region--bottom {
  padding-bottom: 7.2rem;
}

/*
Breakpoint widths used in designs.
XXL - 2000px
XL 1500px
LG 992px
MD 768px
SM 576px
XS 390px
*/

/* Start with mobile and adjust as browser goes up width */
/* For a max of med */
.layout--layout-paragraphs-four-column {
  display: block;

  .su-wysiwyg-text h2 {
    padding-top: 0;
  }
}

.layout--layout-paragraphs-four-column .su-wysiwyg-text h2 {
  padding-top: 0;
}

/* Fixup in case a 4-col is added with a secondary navigation */
.flex-lg-9-of-12.main-region .layout-paragraphs-sdss-four-column .content-well {
  grid-template-columns: repeat(2, 1fr);
}

.flex-lg-9-of-12.main-region .layout-paragraphs-sdss-four-column .centered-container {
  margin-left: unset;
  margin-right: unset;
}

/* At Least Large */
@media screen and (min-width: 992px) {
  .layout--layout-paragraphs-four-column .content-well {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 7.2rem 0;
  }
}

/*  Between Large and XLarge the cards are 2 per row */
@media only screen and (min-width: 992px) and (max-width: 1500px) {
  .layout--layout-paragraphs-four-column .content-well {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* At least XLarge the cards are 4 per row */
@media only screen and (min-width: 2000px) {
  .layout--layout-paragraphs-four-column .content-well {
    grid-template-columns: repeat(4, 1fr);

  }
}

/* Override for the 980px max width */
.layout--layout-paragraphs-four-column .paragraph--type--stanford-card,
.layout--layout-paragraphs-four-column .paragraph--type--stanford-cta-list,
.layout--layout-paragraphs-four-column .paragraph--type--stanford-entity,
.layout--layout-paragraphs-four-column .paragraph--type--stanford-gallery,
.layout--layout-paragraphs-four-column .paragraph--type--stanford-lists,
.layout--layout-paragraphs-four-column .paragraph--type--stanford-media-caption,
.layout--layout-paragraphs-four-column .paragraph--type--stanford-stories,
.layout--layout-paragraphs-four-column .paragraph--type--stanford-wysiwyg,
.layout--layout-paragraphs-four-column .ptype-stanford-card,
.layout--layout-paragraphs-four-column .ptype-stanford-cta-list,
.layout--layout-paragraphs-four-column .ptype-stanford-entity,
.layout--layout-paragraphs-four-column .ptype-stanford-gallery,
.layout--layout-paragraphs-four-column .ptype-stanford-image-cta,
.layout--layout-paragraphs-four-column .ptype-stanford-lists,
.layout--layout-paragraphs-four-column .ptype-stanford-media-caption,
.layout--layout-paragraphs-four-column .ptype-stanford-stories,
.layout--layout-paragraphs-four-column .ptype-stanford-wysiwyg {
  max-width: 100%;
}

