@charset "UTF-8";

.jumpstart-ui--one-column {
  .container-1-items {

    @include grid-media-max('md') {
      margin-right: 2.8em;
      margin-left: 2.8em;
    }

    @include grid-media-max('sm') {
      margin-right: 1.9em;
      margin-left: 1.9em;
    }

  }
}

// For the issue with the h1's collapsing over to the left.
.jumpstart-ui--one-column.centered-content {
  @include centered-column;

  > div:first-child {
    margin-left: unset;
    margin-right: unset;
  }
}

