@charset "UTF-8";

.callout {
  @include responsive-spacing('padding', 3 4 3 4);

  display: flex;

  blockquote {
    margin: 0;
    display: inline-block;
  }

 .blockquote-wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

    @include grid-media-max('sm') {
      margin: 0;
    }
  }

  .decoration {
    color: $sdss-color-blue-hover;
    font-family: $su-font-serif;

  }

  // Setting up appearance
  .decoration {
    font-size: 9.3rem;
    line-height: 14rem;
    position: relative;
    top: -40px;
    margin-right: 1rem;
    display: inline-block;
  }

  .su-callout-author {
    @include responsive-spacing("padding-top", 0);

    display: block;
    font-size: 1.11em;
  }

  .su-callout-author-title {
    display: block;
    font-size: 1.11em;
    color: $su-color-black-70;
  }

  &.bg_color_default {
    // white is the default color
    border-left: $sdss-color-blue-bright 3px solid;
  }

  &.bg_color_option_1 {
    @include sdss-light-blue--background;
  }

  .su-callout-quote {
    p {
      display: inline;

      &::after {
        content: "\301E";
        display: inline;
        font-family: $su-font-serif;
      }
    }
  }

  // Font Size
  &.large_block_quote {
    p {
      @include sdss-block-quote--big;

      display: inline;
    }
  }

  &.medium_block_quote {
    p {
      @include sdss-block-quote--med;

      display: inline;
    }
  }

  &.small_block_quote {
    p {
      @include sdss-block-quote--sm;

      display: inline;
    }
  }

}

