@charset "UTF-8";

  // If user is logged in. The menus will not go to full width
  // because of the positioning.
.menu--newsroom.contextual-region {
  position: unset;
}

// School news dropdown
.menu--newsroom {
  nav {

    ul > li:nth-of-type(2n) {

      // Browse School topics
      ul[open=true] {
        grid-template-rows: 1fr 1fr 1fr;

        > li:nth-last-child(-n+2) > div {
          border: 1px solid $sdss-color-blue-bright;
          border-radius: 40px;
          padding: 0 56px;
          text-align: center;
          width: fit-content;

          @include grid-media-max('md') {
            margin: 0 auto;
            margin-bottom: 30px;

            &:hover,
            &:active,
            &:focus {
              background-color: $sdss-color-green-link;
              color: $sdss-color-blue-bright;
              text-decoration: underline;

              &:after {
                background-color: $su-color-white;
              }
            }
          }

          a {
            @include link-icon(arrow-right, .50em, right, 0.06em);

            color: $su-color-white;

            &:hover,
            &:active,
            &:focus {
              color: $sdss-color-blue-bright;
              text-decoration: underline;

              &:after {
                background-color: $su-color-white;
              }
            }

            &:after {
              background-color: $su-color-white;
              height: 1.2rem;
              width: 1.5rem;
            }
          }
        }
      }

    }

    // School News dropdown
    ul > li:nth-of-type(3n) {
      ul[open=true] {
        grid-template-rows: 1fr 1fr 1fr;

        li:nth-last-child(-n+2) > div {
          border: 1px solid $sdss-color-blue-bright;
          border-radius: 40px;
          padding: 0 56px;
          text-align: center;
          width: fit-content;

          @include grid-media-max('md') {
            margin: 0 auto;
            margin-bottom: 30px;

            &:hover,
            &:active,
            &:focus {
              background-color: $sdss-color-green-link;
              color: $sdss-color-blue-bright;
              text-decoration: underline;

              &:after {
                background-color: $su-color-white;
              }
            }
          }

          a {
            @include link-icon(arrow-right, .50em, right, 0.06em);

            color: $su-color-white;

            &:hover,
            &:active,
            &:focus {
              color: $sdss-color-blue-bright;
              text-decoration: underline;

              &:after {
                background-color: $su-color-white;
              }
            }

            &:after {
              background-color: $su-color-white;
              height: 1.2rem;
              width: 1.5rem;
            }
          }
        }
      }

    }
  }
}


