@charset "UTF-8";

// Mobile menu for the newsroom
.newsroom-wrapper {
  .newsroom-mobile--btn {
    display: none;
  }

  @include grid-media-min('lg') {
    nav {
      .mobile-menu-logo {
        display: none;
      }
    }
  }

  @include grid-media-max('md') {
    nav {
      .mobile-menu-logo {
        svg[open="true"] {
          z-index: 10001;
          position: absolute;
          top: -99px;
        }
      }
    }
  }

  @include grid-media-max('md') {
    .newsroom-mobile--btn {
      display: block;
      border: 1px solid $su-color-black-20;
      padding: 15px 20px 17px 20px;
      max-width: 25rem;

      a {
        color: $sdss-color-green-link;
        font-weight: $su-font-semi-bold;
        line-height: 109%; /* 18.53px */
      }
    }

    nav > button[aria-expanded="false"] {
      color: $sdss-color-green-link;
      font-weight: $su-font-semi-bold;
      position: unset;
      margin: 0 auto;
    }
  }
}
