@charset "UTF-8";

//padding set up based on layout.
.layout--layout-paragraphs-one-column {
  .sidebar {
    @include grid-media-max('lg') {
      max-width: 100%;
    }

    @include grid-media-min('xl') {
      max-width: 70%;
      margin-left: 10%;
    }

    &.bg_color_option_1,
    &.bg_color_default  {
      @include modular-spacing('padding', 4);
    }
  }
}

.sidebar {
  .su-sidebar-bgcolor-alt {
    display: none;
  }

  &.large_sidebar_title {
    h2 {
      @include type_c;

      color: $su-color-black;
    }
  }

  &.small_sidebar_title {
    h2 {
      @include type_d;

      color: $su-color-black;
      font-weight: $su-font-semi-bold;
    }
  }

  .su-sidebar-title {
    @include modular-spacing('padding-bottom', 1);
  }

  // This option is blue
  &.bg_color_option_1 {
    @include sdss-light-blue--background;
  }

  // Default color is white
  &.bg_color_default {
    border: $su-color-black-20 1px solid;
  }
}
