@charset "UTF-8";

.layout--layout-paragraphs-one-column,
.layout--layout-paragraphs-two-column,
.layout--layout-paragraphs-three-column {
  .sdss-spotlight {
    .su-card {
      display: block;

      .su-figure__wrapper {
        @include responsive-spacing('margin-bottom', 1);
      }

      .news-vertical-teaser__pub-date {
        @include type-d;

        color: $su-color-black-60;
      }

      .su-card__contents {
        p {
          @include type-d;
        }

        @include grid-media-max('xs') {
          display: block;
        }
      }

      // Image aspect ratios
      img,
      picture {
        aspect-ratio: unset;
      }
    }
  }
}

.layout--layout-paragraphs-one-column  {
  // Needs to be on a full width page.
  .ptype-sdss-spotlight {
    margin-left: unset;
    max-width: unset;
  }

  .sdss-spotlight {
    .su-card {
      .su-content__wrapper {
        padding-left: 5rem;
        padding-right: 5rem;
      }

      @include grid-media-min('lg') {
        display: flex;
        justify-content: space-between;

        .su-figure__wrapper {
          order: 2;
          margin-bottom: 0;
          flex-basis: 50%;
        }

        .su-content__wrapper {
          align-self: center;
          padding-left: 10rem;
          flex-basis: 50%;
        }
      }

      @include grid-media-min('2xl') {
        .su-content__wrapper {
          padding-right: 10rem;
        }
      }
    }
  }
}
