@charset "UTF-8";

// Event list page.
.su-event-list-item {

  flex-direction: row;
  gap: 40px;
  justify-content: flex-start;

  .su-date-stacked {
    max-width: unset;
  }

  .su-event-list-item__date {
    max-width: unset;
    margin-right: unset;
    margin-bottom: unset;

    .su-event-end-month,
    .su-event-start-month,
    .su-event-end-date,
    .su-event-start-date {
      font-weight: $su-font-regular;
      line-height: 1;
    }
  }

  .su-date-stacked {
    &.su-date-stacked--no-background {
      background-color: $sdss-color-blue-light;
      border: 1px solid $sdss-color-palo-alto-dark;
      border-radius: 70px;
      width: 110px;
      padding: 20px;
    }
  }

  .su-event-list-item__details {
    display: flex;
    flex-direction: column;

    // changing the order so the heading read first then the type.
    .event-list-item__type {
      order: -1;

      a {
        @include sdss-link--primary;
        @include responsive-spacing('padding-top', 0);
        @include responsive-spacing('padding-bottom', 0);

        display: inline-block;
        color: $su-color-black-70;
        font-weight: $su-font-regular;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 2rem;
      }
    }

    h2 {
      > a {
        @include link--action;
        @include sdss-link--primary;

        font-weight: $su-font-regular;
        text-decoration: none;

        &:after {
          background-color: $sdss-color-palo-alto-dark;
        }
      }
    }
  }

  .views-field-su-event-date-time {
    span {
      padding-right: 0;
    }
  }

  // removes the calendar icon.
  .date-icon:before {
    content: "";
  }
}

// Event list with Cards.
.su-event-card.su-card {
  border: none;
  box-shadow: none;

  .su-event-list-item__details {
    .event-list-item__type {
      a {
        @include sdss-link--primary;

        color: $su-color-black-70;
        font-size: 2rem;
        font-weight: $su-font-regular;
        text-transform: uppercase;
        text-decoration: none;
      }
    }

    h2 {
      >a {
        @include sdss-link--primary;

        display: inline-block;
        text-decoration: none;
      }
    }

    // Removing the subtheadline for everyone.
    .event-list-item__subheadline {
      display: none;
    }
  }
}

// Columns of event lists
.ptype-stanford-lists[data-react-columns="4"],
.ptype-stanford-lists[data-react-columns="6"] {
   .su-event-list-item__date {
      margin-bottom: inherit;
   }
}

// Event list with Green row variant.
.layout-paragraphs-sdss-bgcolor--green {

  .su-event-list-item {
    h2 {
      color: $sdss-color-white;
    }

    .su-event-list-item__details {
      color: $sdss-color-white;

      h2 {
        > a {
          color: $sdss-color-white;

          &::after {
            background-color: $sdss-color-white;
          }

          &:focus,
          &:hover,
          &:active {
            color: $sdss-color-green-bright;
            text-decoration: underline;

            &::after {
              background-color: $sdss-color-green-bright;
            }
          }
        }
      }

      .event-list-item__type {
        a {
          color: $sdss-color-blue-light;
          text-decoration: none;

          &:focus,
          &:hover,
          &:active {
            color: $sdss-color-white;
            text-decoration: underline;
          }
        }
      }

      .views-field-su-event-location,
      .views-field-su-event-address {
        >.map-icon:before {
          color: $sdss-color-white;
        }
      }
    }
  }
}
