@charset "UTF-8";

// SDSS other site header - Green
// Correcting display of main menu bar.
.fixed-header {
  &.su-lockup.su-lockup--option-a {
    display: unset;
  }

  &.su-lockup.su-lockup--option-b {
    display: unset;
  }
}

// SDSS other sites (depts/institutes) header in large and up screens
@include grid-media-min('lg') {
  .fixed-header.su-lockup--option-a,
  .fixed-header.su-lockup--option-b {
    line-height: 2em;
    padding: 0;

    // logo and taglines
    .su-lockup__cell1,
    .su-lockup__cell2 {
      border-right: 0;
      border-left: 0;
    }

    .su-lockup__custom-logo {
      max-width: 166px;
    }

    .su-lockup__cell1 {
      align-self: center;
      margin-right: 30px;
      max-width: 192px;
    }

    .su-lockup__cell2 {
      margin-right: 30px;
    }

    .su-lockup__line1,
    .su-lockup__line2 {
      color: $su-color-white;
    }

    .su-lockup__line5 {
      display: none;
    }

    .su-lockup__cell2 {
      border-left: 0;
      background-color: $sdss-color-palo-alto-dark;
      padding: 30px 30px 30px;
      max-width: unset;
  }

    .sdss-masthead {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
      "lockup lockup lockup"
      "main-nav main-nav search";
      align-items: flex-end;
      column-gap: 40px;

      .su-lockup {
        grid-area: lockup;

        background: $su-color-white;
        width: unset;
        max-width: unset;
        padding: 0; //spacing to get the background-color.
        margin-right: -20px;
      }

      #sdss-button--search-link {
        grid-area: search;
        width: 32px;
        height: 32px;
        position: relative;
        top: 0;
        right: unset;
        align-self: center;
        background-color: $sdss-color-palo-alto-dark;
        border-radius: 32px;
        left: 8px;
      }

      .su-multi-menu {
        grid-area: main-nav;
      }
    }

    nav+.su-site-search, ul li .su-site-search {
      display: none;
    }

    // Header color outside in the margins.
    .su-lockup__cell2 {
      position: relative; /* child absolute */
    }

    .su-lockup__cell2 {
      &::after{
        content: "";
        position: absolute;
        /* fill vertically */
        top: 0;
        bottom: 0;
        width: 9600px;
        right: 100%;
        background: $sdss-color-palo-alto-dark;
      }
    }

    .su-lockup__cell2 {
      &::after {
        left: 100%;
        background: $sdss-color-palo-alto-dark;
      }
    }
  }
}

// SDSS other sites (depts/institutes) header with a max of medium.
@include grid-media-max('md') {
  .fixed-header.su-lockup--option-a,
  .fixed-header.su-lockup--option-b {
    .su-multi-menu {
      .su-multi-menu__nav-toggle {
        color: $su-color-white;

        &::after {
          @include margin(0 auto);
          display: inline-block;
          width: 30px;
          height: 26px;
          background: url("#{$su-image-path}/hamburger-white.svg") no-repeat 3px 0;
          content: "";
        }

        &:focus,
        &:hover {
          &:before {
            background-color: $su-color-white;
          }
        }

        &[aria-expanded=true] {
          &:before {
            background-color: $su-color-white;
          }

          &:focus,
          &:hover {
            &:before {
              background-color: $su-color-white;
            }
          }

          &::after {
            width: 22px;
            background: url("#{$su-image-path}/close-white.svg") no-repeat 3px 0;
            background-size: 16px 16px;
          }
        }
      }
    }
  }

  .su-masthead>section:last-of-type {
    padding-top: 2rem;
  }

  .fixed-header.su-lockup--option-a,
  .fixed-header.su-lockup--option-b {
    .su-lockup--option-a {
      .su-lockup__cell2 {
        border-left: none;
        padding-bottom: 1em;
        padding-left: 1em;
      }
    }

    .su-lockup__cell1,
    .su-lockup__cell2 {
      border: none;
    }

    .su-lockup__line1,
    .su-lockup__line2 {
      color: $su-color-white;
    }

    // Header color outside in the margins.
    section {
      position: relative; /* child absolute */
      background-color: $sdss-color-palo-alto-dark;
    }

    section {
      &::before,
      &::after {
        content: "";
        position: absolute;
        /* fill vertically */
        top: 0;
        bottom: 0;
        width: 9600px;
        right: calc(100% - 160px);
        background: $su-color-white;
      }
    }

    section {
      &::after {
        left: 100%;
        background: $sdss-color-palo-alto-dark;
      }
    }

  }

  .fixed-header.su-lockup--option-b {
    .su-lockup__line2 {
      line-height: 1em;
    }
  }
}

// SDSS other sites (depts/institutes) header  with a max of extra small.
@include grid-media-max('xs') {
  .fixed-header.su-lockup--option-a,
  .fixed-header.su-lockup--option-b {
    .su-masthead .su-lockup--option-a .su-lockup__cell2 {
      padding-left: 0;
    }
  }

  .fixed-header.su-lockup--option-a {
    .su-lockup__line1 {
      margin-left: 0;
    }
  }
}

// SDSS other sites (depts/institutes) header  with a max of small.
@include grid-media-max('sm') {
  .fixed-header.su-lockup--option-a,
  .fixed-header.su-lockup--option-b {

    .su-lockup--option-a {
      .su-lockup__cell2 {
        padding-left: 0;
      }
    }

    .su-masthead>section:last-of-type {
      padding-top: 1.5rem;
    }

    .su-lockup {
      a {
        align-items: left;
        display: inline-flex;
        gap: 20px;
        justify-content: flex-start;
        vertical-align: bottom;
        flex-direction: column;
      }
    }

    // Header color outside in the margins.
    section {
      position: relative; /* child absolute */
      background-color: $sdss-color-palo-alto-dark;
    }

    $bottom-h: calc(100% - 65px);

    section {
      margin-left: 0;
      margin-right: 0;
      padding-left: 30px;
      padding-right: 30px;
      min-width: 100%;

      &::before {
        content: "";
        position: absolute;
        /* fill vertically */
        top: 0;
        bottom: $bottom-h;
        width: 9600px;
        right: -20%;
        background: $su-color-white;
      }

      &::after {
        content: "";
        position: absolute;
        /* fill vertically */
        top: 0;
        bottom: 190px;
        width: 9600px;
        right: -20%;
        background: $su-color-white;
      }
    }

    section {
      &::after {
        left: 100%;
        background: $sdss-color-palo-alto-dark;
      }
    }
  }
}
