@charset "UTF-8";

// Header Option A variant styles (currently Blue Header, Right Navigation).

body.sdss-header-variant--option_a {
  header.su-masthead {
    section.su-masthead--inner {
      .su-multi-menu {
        .su-multi-menu__nav-toggle {
          background-color: unset;
          color: $su-color-black;

          &:after {
            background: url("#{$su-image-path}/hamburger-black.svg") no-repeat 3px 0;
          }
        }
      }
    }

    .su-lockup {
      .su-lockup__cell2 {
        display: none;
      }
    }
  }
}


//
// Mobile first min-width queries.
// Queries should go in order of smallest screen to largest (e.g., sm, md, lg)
//

// Styles for Large or bigger Screens.
@include grid-media-min('lg') {
  body.sdss-header-variant--option_a {
    header.su-masthead {

      #sdss-button--search-link {
        margin: auto 10rem auto auto;
        position: relative;
      }

      section.su-masthead--inner {
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-wrap:  nowrap;
        background: $sdss-color-blue-light;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          width: 9600px;
          left: 0;
          z-index: -1;
          background: $sdss-color-blue-light;
        }

        .system-menu-block {
          align-self: flex-end;
          padding: 0 0 0 3rem;
          width: 90%;
        }

        .su-multi-menu {
          padding: 0;
          background-color: $sdss-color-blue-light;

          .su-multi-menu__menu {
            &.su-multi-menu__menu-lv1 {
              background-color: $sdss-color-blue-light;
              padding-right: 3rem;
            }
          }
        }
      }

      .su-lockup {
        background: $su-color-white;

        .su-lockup__cell1 {
          padding: 2rem 3rem 2rem 8rem;
        }
      }
    }
  }
}

// Styles for Extra Large or bigger Screens.
@include grid-media-min('xl') {
  body.sdss-header-variant--option_a {
    header.su-masthead {
      .su-lockup {
        .su-lockup__cell1 {
          padding: 1.7rem 3rem 1.7rem 0;
        }
      }
    }
  }
}
