@charset "UTF-8";

//padding set up based on layout.
// .layout--layout-paragraphs-one-column {
//   .callout {
//     padding: 4.5rem 11.3rem 4.5rem 11.1rem;
//   }
// }


.callout {
  display: flex;

  .decoration {
    color: $sdss-color-blue-hover;
  }


  // Hiding the text from display.
  .bg_color_option_1,
  .bg_color_default,
  .su-select-font-sizing {
    display: none;
  }

  // Setting up appearance
  .decoration {
    font-size: 9.3rem;
    line-height: 14rem;
    position: relative;
    top: -40px;
    margin-right: 1rem;
  }

  .su-callout-author-title {
    color: $su-color-black-70;
  }

  &.bg_color_default {
    // white is the default color
    border-left: $sdss-color-blue-bright 3px solid;
    padding: 4.5rem 11.3rem 4.5rem 11.1rem;
  }

  &.bg_color_option_1 {
    @include sdss-light-blue--background;

    padding: 4.5rem 11.3rem 4.5rem 11.1rem;

    .decoration {
      color: $sdss-color-blue-hover;
    }
  }



  .su-callout-quote {
    p {
      display: inline;

      &::after {
        content: "\201D";
        display: inline;
      }
    }
  }

  // Font Size
  &.large_block_quote {
    p {
      @include sdss-block-quote--big;

      display: inline;
    }
  }

  &.medium_block_quote {
    p {
      @include sdss-block-quote--med;

      display: inline;
    }
  }

  &.small_block_quote {
    p {
      @include sdss-block-quote--sm;

      display: inline;
    }
  }

}

