@charset "UTF-8";

// Event teasers
.stanford-entity {
  .ds-entity--stanford-event {

    .su-event-list-item.su-card {
      border: 0;
      box-shadow: none;

      .su-event-list-item__details {
        .event-list-item__type {
          a {
            @include sdss-link--primary;

            display: inline-block;
            color: $sdss-color-grey-60;
            font-size: 2rem;
            font-weight: $su-font-regular;
            text-transform: uppercase;
            text-decoration: none;
          }
        }

        h2 {
          >a {
            @include sdss-link--primary;

            font-weight: $su-font-regular;
            text-decoration: none;
          }
        }

        // Removing the subtheadline for everyone.
        .event-list-item__subheadline {
          display: none;
        }
      }
    }
  }
}

// Event page
.stanford-events {
  .more-link a {
    @include sdss-button--primary;
  }
}

// Event page top type.
.section-editorial-content {
  .su-event-type {
    a {
      @include sdss-link--primary;
      @include type_f;

      display: inline-block;
      color: $sdss-color-grey-60;
      font-weight: $su-font-regular;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

// Event page bottom type.
.su-events-type-schedule {
  .node-stanford-event-su-event-type {
    .su-event-type-bottom {
      a {
        @include sdss-link--primary;
        @include type_f;

        display: inline-block;
        color: $sdss-color-grey-60;
        font-weight: $su-font-regular;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}
