@charset "UTF-8";

.su-news-vertical-teaser {
  &.su-card {
    box-shadow: none;
    border: none;

    .su-figure__wrapper {
      @include responsive-spacing('margin-bottom', 1);
    }

    @include grid-media-max('sm') {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .su-content__wrapper {
        padding-right: 5rem;
        flex-basis: 125%;
      }

      .su-figure__wrapper {
        order: 2;
        flex-basis: 40%;
        margin-bottom: 0;

        img,
        picture {
          aspect-ratio: 1/1;
          object-fit: cover;
        }
      }
    }

    .su-news-header,
    .su-card__contents,
    .news-vertical-teaser__source,
    .news-vertical-teaser__topics,
    .news-vertical-teaser__pub-date {
      padding: 0;
      margin: 0;
    }

    .su-news-header {
      @include responsive-spacing('margin-bottom', 0);
      display: flex;
      flex-direction: column;

      .news-vertical-teaser__pub-date {
        @include responsive-spacing('margin-bottom', 1);
        @include type-e;

        color: $su-color-black-70;
        order: -1;
      }
    }

    .su-card__contents {
      @include grid-media-max('xs') {
        display: none;
      }

      p {
        @include sdss-newsroom-med-paragraph;

        margin-bottom: .5rem;
      }
    }

    .news-vertical-teaser__source {
      @include type-f;

      color: $su-color-black-70;
    }

    .news-vertical-teaser__topics {
      @include responsive-spacing('margin-top', 1);

      a {
        @include sdss-link--primary;

        &:focus {
          text-decoration: underline;
        }
      }
    }

    .su-content__wrapper {
      .su-news-vertical-teaser__link {

        &:not(.su-link--external) {
          @include link--action;

          &::after {
            background-color: $su-color-black;
            height: 0.9em;
            width: 0.9em;
          }

          &:focus,
          &:hover,
          &:active {
            &::after {
              background-color:  $sdss-color-palo-alto-dark;
            }
          }
        }

        color: $su-color-black;

        &::after {
          background-color: $su-color-black;
          height: 0.9em;
          width: 0.9em;
        }

        &:focus,
        &:hover,
        &:active {
          color:  $sdss-color-palo-alto-dark;
          text-decoration: underline;
          text-decoration-thickness: 2px;

          &::after {
            background-color:  $sdss-color-palo-alto-dark;
          }
        }
        
        h2 {
          @include type-b;
          display: inline;
          color: unset;
        }
      }
    }

    // Override
    a {
      text-decoration: none;

      &.su-link--external {
        &:hover {
          &::after {
            background-color:  $sdss-color-green-link;
          }
        }
      }
    }
  }
}

.su-sdss-news-dek-long {
  @include responsive-spacing('margin-bottom', 5);
}

.news-vertical-teaser__ext-link {
  display: none;
}
