@charset "UTF-8";

.news {
  .jumpstart-ui--one-column {
    &.centered-content {
      > div:first-child {
        margin-left: inherit;
        margin-right: inherit;
      }
    }
  }
}


.su-sdss-news-dek-long {
  &.su-wysiwyg-text {
    p {
      @include sdss-newsroom-dek-long;

      line-height: 1.5;
    }
  }
}

.su-news-topics,
.su-news-title,
.su-sdss-news-dek-long,
.su_news_publishing_date-region {
  max-width: 850px;
  margin: auto;
}

.su-news-title {
  h1 {
    color: $su-color-black;
  }
}

.byline-social-media-wrapper {

  &.centered-container {
    @include modular-spacing('margin-top', 4);
    @include modular-spacing('margin-bottom', 4);
  }

  .sdss-byline--wrapper {
    @include flex-column(12 of 12);

    display: grid;
    grid-template-columns: 1fr 210px;
    align-items: center;

    line-height: 1.75;
    max-width: 850px;
    margin: auto;

    @include grid-media-max('lg') {
      grid-template-columns: 1fr;
      grid-row-gap: 2.3rem;
    }
  }

  .su-news-publishing-date {
    @include sdss-newsroom-byline;

  }

  .news-date-pipe-byline {
    @include sdss-newsroom-byline;
    @include responsive-spacing('margin-right', 2);

    div {
      color: $su-color-black-70;
      display: inline;
      line-height: 1.75;
    }

    >span {
      display: inline;
    }
  }

  .news-social-media {

    >div:first-of-type {
      padding-left: 0;
    }
  }

}
