@charset "UTF-8";

.su-news-vertical-teaser {
  &.su-card {
    box-shadow: none;
    border: none;

    .su-figure__wrapper {
      @include responsive-spacing('margin-bottom', 1);
    }

    @include grid-media-max('sm') {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .su-content__wrapper {
        padding-right: 5rem;
        flex-basis: 125%;
      }

      .su-figure__wrapper {
        order: 2;
        flex-basis: 40%;
        margin-bottom: 0;

        img,
        picture {
          aspect-ratio: 2/2;
        }
      }
    }

    .su-news-header,
    .su-card__contents,
    .news-vertical-teaser__source,
    .news-vertical-teaser__topics,
    .news-vertical-teaser__pub-date {
      padding: 0;
      margin: 0;
    }

    .su-news-header {
      @include responsive-spacing('margin-bottom', 0);
      display: flex;
      flex-direction: column;

      .news-vertical-teaser__pub-date {
        @include responsive-spacing('margin-bottom', 1);
        @include type-e;

        color: $su-color-black-70;
        order: -1;
      }
    }

    .su-card__contents {
      @include grid-media-max('xs') {
        display: none;
      }

      p {
        @include sdss-newsroom-med-paragraph;

        margin-bottom: .5rem;
      }
    }

    .news-vertical-teaser__source {
      @include type-f;
    
      color: $su-color-black-70;
    }

    .news-vertical-teaser__topics {
      @include responsive-spacing('margin-top', 1);

      a {
        @include sdss-link--primary;
        @include type-e;

        font-weight: $su-font-regular;
        text-decoration: none;
      }
    }

    .su-news-vertical-teaser__link,
    .su-link,
    .su-card__link,
    .su-link--external {
      h2 {
        @include sdss-news-link--primary;
        @include type-b;

        color: $su-color-black;
        display: inline;
      }

      &:focus {
        text-decoration: underline;
      }
    }

    // Override
    a {
      text-decoration: none;

      &.su-link--external {
        &:hover {
          &::after {
            background-color:  $sdss-color-green-link;
          }
        }
      }
    }
  }
}

.su-sdss-news-dek-long {
  @include responsive-spacing('margin-bottom', 5);
}

.news-vertical-teaser__ext-link {
  display: none;
}

.su-news-vertical-teaser {
  a {
    &.su-link--external {
      &::after {
        height: 1em;
        width: 1em;
      }
    }
  }
}
