@charset "UTF-8";

.su-news-vertical-teaser {
  &.su-card {
    box-shadow: none;
    border: none;

    h2 {
      margin-left: 0;
      margin-right: 0;
    }

    .su-news-vertical-teaser__link,
    .su-link {
      @include sdss-link--primary;

      display: inline;
      font-size: 1.25em;
      font-weight: $su-font-regular;
      text-decoration: none;

      &:focus {
        text-decoration: underline;
      }
    }

    .su-card__contents {
      padding: 0;
    }

    .news-vertical-teaser__topics {
      @include responsive-spacing('margin-bottom', -1);
      @include responsive-spacing('margin-top', -1);

      a {
        @include sdss-link--primary;

        color: $su-color-black-70;
        font-size: 2rem;
        font-weight: $su-font-regular;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

// Override
.ptype-stanford-lists:not([data-react-columns="12"]) {
  .su-news-vertical-teaser.su-card {
    @include responsive-spacing('margin-bottom', 3);
  }
}

// News Node
.su-news-topics {
  a {
    @include sdss-newsroom-topics;

    color: $sdss-color-palo-alto-dark;
  }
}

.news-vertical-teaser__pub-date {
  @include responsive-spacing('padding-bottom', 0);
  @include responsive-spacing('padding-top', 0);
}

.news-vertical-teaser__source {
  @include type-f;

  color: $su-color-black-70;
  padding: 1em 0 1.5em;
}

.news-vertical-teaser__pub-date {
  @include type-f;

}

.su-sdss-news-dek-long {
  @include responsive-spacing('margin-bottom', 5);

}

.news-vertical-teaser__ext-link {
  display: none;
}

.su-news-vertical-teaser {
  a {
    &.su-link--external {
      &::after {
        height: 0.8em;
        width: 0.5em;
      }
    }
  }
}

// News list with Green row variant.
.su-row-bgcolor--green {
  h2 {
    color: $sdss-color-white;
  }

  .su-news-list {
    h2 {
      color: $sdss-color-green-bright;
    }

    .su-news-list__headline-dek {
      a {
        color: $sdss-color-white;

        &::after {
          background-color: $sdss-color-green-bright;
        }

        &:hover,
        &:focus,
        &:active {
          color: $sdss-color-white;

          > h2 {
            color: $sdss-color-white;
          }

          &::after {
            background-color: $sdss-color-white;
          }
        }
      }
    }

    .su-news-list__source {
      color: $sdss-color-white;
    }
  }

  .su-news-vertical-teaser {
    &.su-card {
      .su-link,
      .su-news-vertical-teaser__link {
        color: $sdss-color-green-bright;

        &::after {
          background-color: $sdss-color-green-bright;
        }

        &:focus,
        &:hover,
        &:active {
          color: $sdss-color-white;

          &::after {
            background-color: $sdss-color-white;
          }
        }
      }
    }

    .news-vertical-teaser__source {
      color: $sdss-color-white;
    }
  }
}
