@charset "UTF-8";

// Override
.ptype-stanford-lists:not([data-react-columns="12"]) {
  .su-news-vertical-teaser.su-card {
    @include responsive-spacing('margin-bottom', 3);
  }
}

// News Node
.su-news-topics {
  a {
    @include sdss-newsroom-topics;

    color: $sdss-color-palo-alto-dark;
  }
}

.su-sdss-news-dek-long {
  @include responsive-spacing('margin-bottom', 5);

}

// News list with Green row variant.
.layout-paragraphs-sdss-bgcolor--green {
  h2 {
    color: $sdss-color-white;
  }

  .su-news-list {
    h2 {
      color: $sdss-color-white;
    }

    .su-news-list__headline-dek {
      a {
        color: $sdss-color-white;

        &::after {
          background-color: $sdss-color-white;
        }

        &:hover,
        &:focus,
        &:active {
          color: $sdss-color-green-bright;

          > h2 {
            color: $sdss-color-green-bright;
          }

          &::after {
            background-color: $sdss-color-green-bright;
          }
        }
      }
    }

    .su-news-list__source {
      color: $sdss-color-white;
    }
  }

  .su-basic-page-types-list {

    .su-basic-page-list__title {
      a {
        color: $sdss-color-white;

        &::after {
          background-color: $sdss-color-white;
        }

        &:hover,
        &:focus,
        &:active {
          color: $sdss-color-green-bright;

          > h2 {
            color: $sdss-color-green-bright;
          }

          &::after {
            background-color: $sdss-color-green-bright;
          }
        }
      }
    }
  }

  .su-list-unstyled .su-card.su-news-vertical-teaser {
    .su-news-vertical-teaser__link {
        h2 {
        @include link--action;

        color: $sdss-color-white;

        &::after {
          background-color: $sdss-color-white;
        }

        &:focus,
        &:hover,
        &:active {
          color:  $sdss-color-green-bright;
          text-decoration: underline;

          &::after {
            background-color:  $sdss-color-green-bright;
          }
        }
      }
    }

    .news-vertical-teaser__topics {
      a {
        color: $sdss-color-white;

        &::after {
          background-color: $sdss-color-white;
        }

        &:focus,
        &:hover,
        &:active {
          color:  $sdss-color-white;
        }
      }
    }
  }

  .su-news-vertical-teaser {
    &.su-card {
      .su-link,
      .su-news-vertical-teaser__link {
        color: $sdss-color-green-bright;

        &::after {
          background-color: $sdss-color-green-bright;
        }

        &:focus,
        &:hover,
        &:active {
          color: $sdss-color-white;
          text-decoration: unset;

          &::after {
            background-color: $sdss-color-white;
          }
        }
      }

      .news-vertical-teaser__source {
        color: $sdss-color-white;
      }

      .news-vertical-teaser__topics {

        a {
          color: $sdss-color-white;

          &:focus,
          &:hover,
          &:active {
            color: $sdss-color-white;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
