@charset "UTF-8";
/* Subtheme Specific colors, Stanford/Decanter colors are not defined here */

// All variable names should be prefaced with your abbreviation (saa, soe, ood, etc)

// define colors here in the format of:
//$abbreviation-color-pink: #ff0099; // like $saa-color-pink

// Primary Colors
$sdss-color-grey-dark: $su-color-black;
$sdss-color-white: $su-color-white;
$sdss-color-black: #000;
$sdss-color-grey-60: #82817F;

$sdss-color-palo-alto: #175E54;
$sdss-color-palo-alto-dark: #014240;
$sdss-color-palo-alto-light: #2D716F;

// Accent colors
$sdss-color-blue-bright: #92D7DD;
$sdss-color-blue-bright-dark: #66AAAE; //Used in local footer.

$sdss-color-green-bright: #B1EF89;

$sdss-color-blue-hover: #6BB6BC;
$sdss-color-green-hover: #90CC69;
$sdss-color-blue-dark-hover: #5B8F93;

$sdss-color-green-link: #155F65;
$sdss-color-decorative-blue: #368187;

// Background Colors
$sdss-color-blue-light: #E9F7F8;
$sdss-color-grey-light: #EDEFEF;
$sdss-color-black-dark: #1C1B19;

// Digital Interactive Colors
$sdss-color-red-error: #FF0101;
$sdss-color-green-success: #4DBC05;
$sdss-color-orange-alert: #FFBA52;