@charset "UTF-8";

// Row Background Colors
// layout-paragraphs-sdss-bgcolor--green|Green
// layout-paragraphs-sdss-bgcolor--blue|Blue
// layout-paragraphs-sdss-bgcolor--white|White

// Lists of cards, events, basic pages, on green backgrounds.

.layout-paragraphs-sdss-bgcolor--green {
  background-color: $sdss-color-palo-alto-dark;
  color: $su-color-white;

  table {
    tbody,
    thead {
      th {
        color: $su-color-white;
      }
    }
  }

  .su-wysiwyg-text {
    a {
      @include sdss-link--negative;

      &.su-button,
      &.su-button--big,
      &.su-link--external.su-button,
      &.su-link--external.su-button--big {
        color: $sdss-color-palo-alto-dark;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &:active,
        &:focus {
          text-decoration: underline;
          color: $sdss-color-white;
          background: transparent;
          outline: 1px solid $sdss-color-white;

          &::after {
            background-color: $sdss-color-white;
          }
        }
      }

      &.su-button--secondary,
      &.su-link--external.su-button-secondary {
        @include sdss-button--secondary-neg;
      }
    }
  }

  // Padding adjustment for buttons excluding --big.
  div {
    a {
      &.su-button,
      &.su-link--external.su-button {
        &:active,
        &:focus {
          padding: 0.375em 0.875em;
        }
      }
    }
  }

  .su-link--action {
    &::after {
      background-color: $sdss-color-blue-bright;
    }
  }

  figcaption {
    &.su-media__caption {
      color: $sdss-color-white;
    }
  }

  .stanford-person.grid-list-all {
    a {
      h2 {
        color: $su-color-white;

        &::after {
          background-color: $sdss-color-white;
        }

        &:hover,
        &:focus,
        &:active {
          color: $sdss-color-green-bright;
          text-decoration: underline;

          > h2 {
            color: $sdss-color-green-bright;
          }

          &::after {
            background-color: $sdss-color-green-bright;
          }
        }
      }
    }
  }

  // Past Event lists.
  .su-past-event,
  .su-event--past-events-text {
    color: $su-color-white;
  }
}

// Publications Lists

.stanford-publications.view {
  .views-field-su-publication-citation  {
    a {
      color: $su-color-white;

      &::after {
        background-color: $sdss-color-white;
      }

      &:hover,
      &:focus,
      &:active {
        color: $sdss-color-green-bright;
        text-decoration: underline;

        &::after {
          background-color: $sdss-color-green-bright;
        }
      }
    }
  }

  //Edit content link
  .views-field-edit-node {
    a {
      @include button-secondary;
      text-align: right;
    }
  }
}

.paragraph--type--stanford-entity {
  .ds-entity--stanford-publication {
    .su-card__contents {
      .su-publication-topics {
        a {
          color: $su-color-white;

          &:hover,
          &:focus,
          &:active {
            color: $sdss-color-white;
            text-decoration: underline;
          }
        }
      }
      .stanford-publication.node-title {
        a {
          &::after {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }
    }
  }
}