@charset "UTF-8";

// Row Background Colors
// layout-paragraphs-sdss-bgcolor--green|Green
// layout-paragraphs-sdss-bgcolor--blue|Blue
// layout-paragraphs-sdss-bgcolor--white|White

// Row colors set up.
// Make the cards transparent on the background colors.
// Do we need other elements set this way as well? - investigate.
// Padding above the colored rows
//.layout-paragraphs-sdss-bgcolor--green-stat = do not include this one to create the stat card combo.
.layout-paragraphs-sdss-bgcolor--green,
.layout-paragraphs-sdss-bgcolor--blue,
.layout-paragraphs-sdss-bgcolor--grey {
  @include responsive-spacing('padding-top', 1);

  @include grid-media-max('md') {
    @include responsive-spacing('padding-bottom', 2);
    @include responsive-spacing('margin-bottom', 2);
  }
}

.layout-paragraphs-sdss-bgcolor--white {
  background-color: $sdss-color-white;
  color: $sdss-color-grey-dark;

  article.su-card {
    background: transparent;
  }
}

.layout-paragraphs-sdss-bgcolor--blue {
  background-color: $sdss-color-blue-light;

  article.su-card {
    background: transparent;
  }
}

.layout-paragraphs-sdss-bgcolor--grey {
  background-color: $sdss-color-grey-light;

  article.su-card {
    background: transparent;
  }
}

.layout-paragraphs-sdss-bgcolor--grey {
  background-color: $sdss-color-grey-light;

  article.su-card {
    background: transparent;
  }
}


