@charset "UTF-8";

// Row Background Colors
// su-row-bgcolor--green|Green
// su-row-bgcolor--blue|Blue
// su-row-bgcolor--white|White

// Row colors set up.
// Make the cards transparent on the background colors.
// Do we need other elements set this way as well? - investigate.
// Padding above the colored rows
//.su-row-bgcolor--green-stat = do not include this one to create the stat card combo.
.su-row-bgcolor--green,
.su-row-bgcolor--blue,
.su-row-bgcolor--grey {
  @include responsive-spacing('padding-top', 1);

  @include grid-media-max('md') {
    @include responsive-spacing('padding-bottom', 2);
    @include responsive-spacing('margin-bottom', 2);
  }
}

.su-row-bgcolor--white {
  background-color: $sdss-color-white;
  color: $sdss-color-grey-dark;

  article.su-card {
    background: transparent;
  }
}

.su-row-bgcolor--green {
  background-color: $sdss-color-palo-alto-dark;
  color: $su-color-white;

  table {
    tbody,
    thead {
      th {
        color: $su-color-white;
      }
    }
  }

  .su-wysiwyg-text {
    a {
      @include sdss-link--negative;

      &.su-button,
      &.su-button--big,
      &.su-link--external.su-button,
      &.su-link--external.su-button--big {
        color: $sdss-color-palo-alto-dark;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &:active,
        &:focus {
          text-decoration: underline;
          color: $sdss-color-white;
          background: transparent;
          outline: 1px solid $sdss-color-white;

          &::after {
            background-color: $sdss-color-white;
          }
        }
      }

      &.su-button--secondary,
      &.su-link--external.su-button-secondary {
        @include sdss-button--secondary-neg;
      }
    }
  }

  // Padding adjustment for buttons excluding --big.
  div {
    a {
      &.su-button,
      &.su-link--external.su-button {
        &:active,
        &:focus {
          padding: 0.375em 0.875em;
        }
      }
    }
  }

  .su-link--action {
    &::after {
      background-color: $sdss-color-blue-bright;
    }
  }

  figcaption {
    &.su-media__caption {
      color: $sdss-color-white;
    }
  }
}

.su-row-bgcolor--blue {
  background-color: $sdss-color-blue-light;

  article.su-card {
    background: transparent;
  }
}

.su-row-bgcolor--grey {
  background-color: $sdss-color-grey-light;

  article.su-card {
    background: transparent;
  }
}

.su-row-bgcolor--grey {
  background-color: $sdss-color-grey-light;

  article.su-card {
    background: transparent;
  }
}


