@charset "UTF-8";

// Logo
.su-masthead {

  .su-lockup {
    @include grid-media-min('lg') {
      margin-bottom: 0;
    }

    a {
      flex-wrap: initial;
    }

    .su-lockup__custom-logo {
      max-height: 5rem;

      @include grid-media-min('lg') {
        max-height: 5.5rem;
      }
    }
  }
}

.su-lockup--option-a {
  .su-lockup__line5 {
    font-weight: $su-font-regular;
    text-transform: none;
  }

  .su-lockup__line1 {
    @include type_c;

    -webkit-text-stroke-width: 0.1px;

    @include grid-media-min('md') {
      line-height: 1.05em;
    }

  }

  .su-lockup__line5 {
    font-family: $sdss-font-sans-light;
    font-size: 25px;
    letter-spacing: .001em;
    -webkit-text-stroke-width: 0.1px;
  }

  @include grid-media-max('md') {
    > a {
      flex-direction: unset;
      flex-wrap: wrap;
    }

    .su-lockup__line5 {
      margin-top: 0.75rem;
      margin-left: -2px;
      order: 3;
    }

    .su-lockup__cell2 {
      order: 2;
    }
  }

  @include grid-media-max('sm') {

    .su-lockup__cell1 {
      margin-right: 10px;
    }

    .su-lockup__line1 {
      margin-left: 10px;
    }
  }

}

@include grid-media-max('md') {
  .su-masthead {
    .su-lockup--option-a {
      .su-lockup__cell1 {
        border-right: none;
      }

      .su-lockup__cell2 {
        border-left: 1px solid $sdss-color-black;
      }

      .su-lockup__line5 {
        &:after {
          border-bottom: 0;
        }
      }
    }
  }
}

// Local footer lockup
.su-local-footer {
  .su-lockup__line5,
  .su-lockup__line1 {
    color: $sdss-color-white;
  }

  @include grid-media-max('md') {

    .su-lockup--option-a {
      .su-lockup__cell1 {
        border-right: none;
      }

      .su-lockup__line5 {
        &:after {
          border-bottom: 0;
        }
      }
    }
  }
}