{%- set background_color = content.su_callout_bgcolor_alt['#items'].getString() -%}
{% set selectedFontSize = content.su_select_font_sizing['#items'].getString() %}

{%- set attributes = attributes.addClass(['callout', background_color, selectedFontSize]) -%}


<div {{ attributes }}>
  <div class="blockquote-wrapper">
    <span class="decoration">&#8220;</span>
    <blockquote class="callout-quote su-callout-quote">
      <p>{{ content.su_callout_quote|render|striptags("<drupal-render-placeholder>")|trim }} <span class="close-quote">&#8221;</span></p>
      <cite>
      <span class="su-callout-author">{{ content.su_callout_author|render|striptags("<drupal-render-placeholder>")|trim }}</span>
      <span class="su-callout-author-title">{{ content.su_callout_author_title|render|striptags("<drupal-render-placeholder>")|trim }}</span>
      </cite>
    </blockquote>
  </div>
</div>
